@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Code+Pro&display=swap');

/* TOP BAR ------------------------- */
/* LOGO */
.navbar__brand {
	padding: 0 !important;
}

.navbar__logo {
	width     : 4rem !important;
	height    : 4rem !important;
	max-width : none !important;
	max-height: none !important;
}

/* TYPOGRAPHY ------------------------- */
h1 {
	font-weight: 900 !important;
}

h2 {
	font-weight   : 650 !important;
	font-size     : clamp(1.7rem, calc(1.7rem + ((2.3 - 1.7) * ((100vw - 20rem) / (96 - 20)))), 1.9rem) !important;
	line-height   : 1.17;
	letter-spacing: -.048em;
}

.es-big-title {
	font-weight   : 900 !important;
	letter-spacing: -.0408em !important;
}

/* BIG TYPOGRAPHY ------------------------- */


/* ANCHOR ------------------------- */
a.marker {
	text-decoration: none !important;
	color          : inherit !important;
	cursor         : pointer !important;
	position       : relative !important;
	display:inline-block !important;
	white-space: nowrap;
	margin-left:0.15ch;
	margin-right:0.15ch;

	&::before {
		content      : ' ' !important;
		position     : absolute !important;
		z-index      : 0 !important;
		top          : 100% !important;
		left         : -0.25ch !important;
		padding      : 0 2px !important;
		width        : calc(100% + 0.5ch) !important;
		height       : 1px !important;
		border-bottom: 1px solid tomato !important;
		transition   : 0.2s !important;
	}

	&::after {
		content         : ' ' !important;
		position        : absolute !important;
		z-index         : 0 !important;
		top             : 0 !important;
		left            : 50% !important;
		width           : 0px !important;
		height          : 100% !important;
		transition      : 0.2s !important;
		opacity         : 0;
		background-color: red !important;
	}

	&:hover::after {
		left            : calc(0% - 0.25ch) !important;
		width           : calc(100% + 0.5ch) !important;
		opacity         : 0.2 !important;
		background-color: red !important;
		transform       : skew(-10deg, 0deg);
		transform       : scale(1.2) skew(-10deg, 0deg);
	}

	&:hover::before {
		opacity: 0 !important;
	}
}